In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")# 忽略warning

In [6]:
# 创建Dataframe
df=pd.DataFrame(np.arange(24).reshape(4,6),index=list("abcd"),columns=list("ABCDEF"))
print(df,type(df))

    A   B   C   D   E   F
a   0   1   2   3   4   5
b   6   7   8   9  10  11
c  12  13  14  15  16  17
d  18  19  20  21  22  23 <class 'pandas.core.frame.DataFrame'>

In [20]:
data={'城市':['北京','上海','广州','深圳','沈阳'],
    '环比':[101.5,101.2,101.3,102.,100.1],
    '同比':[120.7,127.3,119.4,140.9,101.4],
    '定基':[121.4,127.8,122.0,145.5,101.6]}
df=pd.DataFrame(data,index=['r1','r2','r3','r4','r5'])
# Dataframe中包含的属性
df.index# 查看行索引（index对象无法修改）
df.columns
df.values
df.T# 对dataframe进行转置

       r1     r2     r3     r4     r5
城市     北京     上海     广州     深圳     沈阳
环比  101.5  101.2  101.3    102  100.1
同比  120.7  127.3  119.4  140.9  101.4
定基  121.4  127.8    122  145.5  101.6

In [29]:
# 查看数据
print(df)
print("*"*50)
print(df['同比'])
print("*"*50)
print(df['同比']['r4'])# df['同比'][3]
print("*"*50)
# 查看多列数据
print(df[['城市','同比']])

    城市     环比     同比     定基
r1  北京  101.5  120.7  121.4
r2  上海  101.2  127.3  127.8
r3  广州  101.3  119.4  122.0
r4  深圳  102.0  140.9  145.5
r5  沈阳  100.1  101.4  101.6
**************************************************
r1    120.7
r2    127.3
r3    119.4
r4    140.9
r5    101.4
Name: 同比, dtype: float64
**************************************************
140.9
**************************************************
    城市     同比  城市
r1  北京  120.7  北京
r2  上海  127.3  上海
r3  广州  119.4  广州
r4  深圳  140.9  深圳
r5  沈阳  101.4  沈阳

In [36]:
# 用df.loc[行索引,列索引]
# 通过名称属性选取数据
print("获取单个数据:")
print(df.loc["r3","城市"])
print("*"*50)
print("获取多个数据:")
print(df.loc["r3",["城市","环比","同比"]])
print(df.loc[["r2","r3"],["城市","环比","同比"]])
print("*"*50)
print("通过切片的方式选取数据:")
print(df.loc["r1":"r3","城市":"同比"])
print("*"*50)
print("常用索引方式:")
print(df.loc["r3":,"城市":"同比"])
print(df.loc[:"r4","城市":"同比"])
print(df.loc[:,["城市","同比"]])

获取单个数据:
广州
**************************************************
获取多个数据:
城市       广州
环比    101.3
同比    119.4
Name: r3, dtype: object
    城市     环比     同比
r2  上海  101.2  127.3
r3  广州  101.3  119.4
**************************************************
通过切片的方式选取数据:
    城市     环比     同比
r1  北京  101.5  120.7
r2  上海  101.2  127.3
r3  广州  101.3  119.4
**************************************************
常用索引方式:
    城市     环比     同比
r3  广州  101.3  119.4
r4  深圳  102.0  140.9
r5  沈阳  100.1  101.4
    城市     环比     同比
r1  北京  101.5  120.7
r2  上海  101.2  127.3
r3  广州  101.3  119.4
r4  深圳  102.0  140.9
    城市     同比
r1  北京  120.7
r2  上海  127.3
r3  广州  119.4
r4  深圳  140.9
r5  沈阳  101.4

In [52]:
# 用df.iloc通过行列的隐式索引提取数据
# df.iloc[行位置,列位置]
print(df)
print("获取单个数据:")
print(df.iloc[2,0])
print("*"*50)
print("获取多个数据:")
print(df.iloc[2,[0,1,2]])
print(df.iloc[[0,2],[0,1,2]])
print("*"*50)
print("通过切片的方式选取数据:")
print(df.iloc[0:3,0:3])# 左闭右开的规则
print("*"*50)
print("常用索引方式:")
print(df.iloc[2:,0:3])
print(df.iloc[:4,0:3])
print(df.iloc[:,[0,2]])

    城市     环比     同比     定基
r1  北京  101.5  120.7  121.4
r2  上海  101.2  127.3  127.8
r3  广州  101.3  119.4  122.0
r4  深圳  102.0  140.9  145.5
r5  沈阳  100.1  101.4  101.6
获取单个数据:
广州
**************************************************
获取多个数据:
城市       广州
环比    101.3
同比    119.4
Name: r3, dtype: object
    城市     环比     同比
r1  北京  101.5  120.7
r3  广州  101.3  119.4
**************************************************
通过切片的方式选取数据:
    城市     环比     同比
r1  北京  101.5  120.7
r2  上海  101.2  127.3
r3  广州  101.3  119.4
**************************************************
常用索引方式:
    城市     环比     同比
r3  广州  101.3  119.4
r4  深圳  102.0  140.9
r5  沈阳  100.1  101.4
    城市     环比     同比
r1  北京  101.5  120.7
r2  上海  101.2  127.3
r3  广州  101.3  119.4
r4  深圳  102.0  140.9
    城市     同比
r1  北京  120.7
r2  上海  127.3
r3  广州  119.4
r4  深圳  140.9
r5  沈阳  101.4

In [54]:
# # df.ix混合模式
print(df.ix[1:4,["城市","同比"]])

    城市     同比
r2  上海  127.3
r3  广州  119.4
r4  深圳  140.9

In [66]:
# 通过布尔值索引进行筛选
print(df)
# print(df['同比']>120)# 布尔值类型的Series
s1=df['同比']>120
# print(df[s1])
# print(df.loc[s1,:])
# # 多重索引判断
# s2=(df['同比']>120) & (df['环比']>=102)
# print(s2)
# print(df[s2])
# print(df.loc[s2,:])
# s3=(df['同比']>120) | (df['环比']>=101)
# print(s3)
# print(df[s3])
# print(df.loc[s3,:])
# 提取环比低于102同时同比高于120的数据
# s4=(df['同比']>120) & (df['环比']<102)
# print(df[s4])
# print(df.loc[s4,:])

    城市     环比     同比     定基
r1  北京  101.5  120.7  121.4
r2  上海  101.2  127.3  127.8
r3  广州  101.3  119.4  122.0
r4  深圳  102.0  140.9  145.5
r5  沈阳  100.1  101.4  101.6
    城市     环比     同比     定基
r1  北京  101.5  120.7  121.4
r2  上海  101.2  127.3  127.8
    城市     环比     同比     定基
r1  北京  101.5  120.7  121.4
r2  上海  101.2  127.3  127.8

In [76]:
# 添加数据和修改数据
print(df)
# 插入列
# df['房价']=[10000,20000,30000,40000,50000,60000]
# print(df)
# 插入行
# df.loc['R6']=['杭州',102.5,132.1,123.2,15000]
# print(df)
# 手动插入两组数据,成都的数据,插入每个城市人口的数据,数据自己随便定义
# df.loc["R7"]=["成都",102.3,123.2,115.5,25000]
# print(df)
# df["常驻人口"]=[(i+1)*100 for i in range(7)]
# print(df)

    城市     环比     同比     定基     房价
r1  北京  101.5  120.7  121.4  10000
r2  上海  101.2  127.3  127.8  20000
r3  广州  101.3  119.4  122.0  30000
r4  深圳  102.0  140.9  145.5  40000
r5  沈阳  100.1  101.4  101.6  50000
R6  杭州  102.5  132.1  123.2  15000
R7  成都  102.3  123.2  115.5  25000
    城市     环比     同比     定基     房价  常驻人口
r1  北京  101.5  120.7  121.4  10000   100
r2  上海  101.2  127.3  127.8  20000   200
r3  广州  101.3  119.4  122.0  30000   300
r4  深圳  102.0  140.9  145.5  40000   400
r5  沈阳  100.1  101.4  101.6  50000   500
R6  杭州  102.5  132.1  123.2  15000   600
R7  成都  102.3  123.2  115.5  25000   700

In [96]:
# reindex方法改变数据
df1=pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("ABCD"))
print(df1)
# print(df1.reindex(index=list("bca")))
# print(df1.reindex(columns=list("DCBA")))
# print(df1.reindex(index=list("ca")))
# print(df1.reindex(columns=list("AD")))
# print(df1.reindex(columns=list("ABAB")))
print("*"*50)
# print(df1.reindex(index=list("bcd")))
# print(df1.reindex(index=list("bcd"),fill_value=100))
# print(df1.reindex(index=list("abxc"),method="ffill"))
# print(df1.reindex(index=list("xabc"),method="ffill"))

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11
**************************************************
   A  B   C   D
a  0  1   2   3
b  4  5   6   7
x  8  9  10  11
c  8  9  10  11
   A  B   C   D
x  8  9  10  11
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11

In [111]:
# 通过reindex在任意位置插入行/列
# df1=df1.reindex(index=list("abxc"))
# print(df1)
# df1.loc['x']=[1,2,3,4]
# df1
# 通过index的insert函数
# new_index=df1.index.insert(3,"new")
# df1=df1.reindex(index=new_index))
# df1.loc['x']=[1,2,3,4]
# df1
# 插入列
# new_columns=df1.columns.insert(3,"new")
# print(df1.reindex(columns=new_columns))
# df1.['new']=[1,2,3,4]
# df1

     A    B     C  new     D
a  0.0  1.0   2.0  NaN   3.0
b  4.0  5.0   6.0  NaN   7.0
x  1.0  2.0   3.0  NaN   4.0
c  8.0  9.0  10.0  NaN  11.0

In [125]:
# drop删除数据
d=pd.DataFrame(np.arange(20).reshape(4,5),index=list('abcd'),columns=list("ABCDE"))
print(d)
# print("{0}删除一行{0}".format("-"*30))
# print(d.drop("c"))
# print("{0}删除多行{0}".format("-"*30))
# print(d.drop(["c","a"]))
# print(d.drop(d.index[0:2]))
# print("{0}删除一列{0}".format("-"*30))
# print(d.drop("C",axis=1))
# print("{0}删除多列{0}".format("-"*30))
# print(d.drop(["A","C"],axis="columns"))
print("{0}修改原对象{0}".format("-"*30))
d.drop(["A","C"],axis="columns",inplace=True)# 修改原对象
print(d)

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
------------------------------修改原对象------------------------------
    B   D   E
a   1   3   4
b   6   8   9
c  11  13  14
d  16  18  19

In [135]:
# 算数计算
a=pd.DataFrame(np.arange(20).reshape(4,5))
# b=pd.DataFrame(np.arange(20).reshape(4,5))
s=pd.Series([100,200,300,400])
print(a)
# print(a+100)# 加上标量
# print(s)
# print(a+s)# 通过列索引对齐
# print(a.add(s,axis=0))
# print(a+a)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [145]:
# 算数计算
a=pd.DataFrame(np.arange(20).reshape(4,5),index=list("abcd"),columns=list("ABCDE"))
b=pd.DataFrame(np.arange(20).reshape(5,4),index=list("abcde"),columns=list("ABCD"))
s=pd.Series([100,200,300,400],index=list("abcd"))
print(a);print(b);print(s)
print("{0}通过索引对齐后进行计算{0}".format("-"*30))
# print(a-b)
# print(a+s)
# print(a.add(s,axis=0))

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
    A   B   C   D
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
e  16  17  18  19
a    100
b    200
c    300
d    400
dtype: int64
------------------------------通过索引对齐后进行计算------------------------------

In [165]:
# 算数比较
a=pd.DataFrame(np.arange(20).reshape(4,5),index=list("abcd"),columns=list("ABCDE"))
b=pd.DataFrame(np.arange(-20,0).reshape(4,5),index=list("abcd"),columns=list("ABCDE"))
s=pd.Series([4,3,2,1,0],index=list("ABCDE"))
# print(a);print(b)
# a>10
# a[a>10]
# print(a>s)
# b=b.iloc[:3,:4]# 形状不同无法之间进行比较
# print(a);print(b)

In [173]:
# set_index reset_index
a=pd.DataFrame(np.arange(20).reshape(4,5),index=list("abcd"),columns=list("ABCDE"))
# a=a.set_index("A")# 将指定列标称索引列
# print(a.index)
a.index.name="索引列"
a.reset_index()# 将索引列变成数据列

  索引列   A   B   C   D   E
0   a   0   1   2   3   4
1   b   5   6   7   8   9
2   c  10  11  12  13  14
3   d  15  16  17  18  19

In [179]:
# 数据的排序
a=pd.DataFrame(np.arange(20).reshape(4,5),index=list("abcd"),columns=list("ABCDE"))
a=a.reindex(index=list("dbca"),columns=list("ECBDA"))
print(a.sort_index(axis=0))
print(a.sort_index(axis=1))

    E   C   B   D   A
a   4   2   1   3   0
b   9   7   6   8   5
c  14  12  11  13  10
d  19  17  16  18  15
    A   B   C   D   E
d  15  16  17  18  19
b   5   6   7   8   9
c  10  11  12  13  14
a   0   1   2   3   4

In [187]:
# 列方向和行方向数据的排列
# print(a.sort_values(by='A',ascending=1))# 以单一列进行升序排列(默认)
# print(a.sort_values(by='A',ascending=0))# 以单一列进行降序排列
print(a.sort_values(by='a',ascending=1,axis=1))# 以单一行进行升序排列(默认)
print(a.sort_values(by='a',ascending=0,axis=1))# 以单一行进行降序排列

    A   B   C   D   E
d  15  16  17  18  19
b   5   6   7   8   9
c  10  11  12  13  14
a   0   1   2   3   4
    E   D   C   B   A
d  19  18  17  16  15
b   9   8   7   6   5
c  14  13  12  11  10
a   4   3   2   1   0

In [195]:
d=pd.DataFrame({"A":[2,1,2,1],"B":[1,2,3,4],"C":[4,3,2,1]})
print(d.sort_values(by=["A","C"],ascending=[0,1]))# 指定多列进行排序,并指定排序规则
print(d.sort_values(by=["A","C"],ascending=[True,False]))# 指定多列进行排序,并指定排序规则

   A  B  C
2  2  3  2
0  2  1  4
3  1  4  1
1  1  2  3
   A  B  C
1  1  2  3
3  1  4  1
0  2  1  4
2  2  3  2