In [2]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")#忽略warning警告

In [6]:
# 创建DataFrame
df=pd.DataFrame(np.arange(24).reshape(4,6),index=list("abcd"),columns=list("ABCDEF"),)
print(df,type(df))

    A   B   C   D   E   F
a   0   1   2   3   4   5
b   6   7   8   9  10  11
c  12  13  14  15  16  17
d  18  19  20  21  22  23 <class 'pandas.core.frame.DataFrame'>

In [18]:
data={'城市':['北京','上海','广州','深圳','沈阳'],
    '环比':[101.5,101.2,101.3,102.,100.1],
    '同比':[120.7,127.3,119.4,140.9,101.4],
    '定基':[121.4,127.8,122.0,145.5,101.6]}
# type(data)
df=pd.DataFrame(data,index=['r1','r2','r3','r4','r5'])
# DataFrame中包含的属性
# df.index
# df.columns
# df.values
df.T

       r1     r2     r3     r4     r5
城市     北京     上海     广州     深圳     沈阳
环比  101.5  101.2  101.3    102  100.1
同比  120.7  127.3  119.4  140.9  101.4
定基  121.4  127.8    122  145.5  101.6

In [23]:
# 查看数据类型
# print(df)
# print(df["同比"])
# print(df["同比"]['r4'])
print(df[['城市','同比']])

    城市     环比     同比     定基
r1  北京  101.5  120.7  121.4
r2  上海  101.2  127.3  127.8
r3  广州  101.3  119.4  122.0
r4  深圳  102.0  140.9  145.5
r5  沈阳  100.1  101.4  101.6
r1    120.7
r2    127.3
r3    119.4
r4    140.9
r5    101.4
Name: 同比, dtype: float64
140.9
    城市     同比
r1  北京  120.7
r2  上海  127.3
r3  广州  119.4
r4  深圳  140.9
r5  沈阳  101.4

In [32]:
# 用df.loc[行索引,列索引]
# print(df.loc['r3','城市'])
# print(df.loc['r3',['城市','环比','同比']])
# print(df.loc[['r3','r2'],['城市','环比','同比']])
# print(df.loc['r1':'r3','城市':'同比'])
# print(df.loc['r1':,'城市':'同比'])
print(df.loc[:,['城市','环比','同比']])

    城市     环比     同比
r1  北京  101.5  120.7
r2  上海  101.2  127.3
r3  广州  101.3  119.4
r4  深圳  102.0  140.9
r5  沈阳  100.1  101.4

In [40]:
# 用df.iloc通过行列的隐式索引提取数据
# df.iloc[行索引,列索引]
# print(df.iloc[2,0])
# print(df.iloc[2,[0,1,2]])
# print(df.iloc[[0,2],[0,1,2]])
print(df.iloc[0:3,0:3])#左闭右开的规则
print(df.iloc[2:,0:3])
print(df.iloc[:,0:3])

    城市     环比     同比
r1  北京  101.5  120.7
r2  上海  101.2  127.3
r3  广州  101.3  119.4
    城市     环比     同比
r3  广州  101.3  119.4
r4  深圳  102.0  140.9
r5  沈阳  100.1  101.4
    城市     环比     同比
r1  北京  101.5  120.7
r2  上海  101.2  127.3
r3  广州  101.3  119.4
r4  深圳  102.0  140.9
r5  沈阳  100.1  101.4

In [43]:
# ix混合还用
print(df.ix[:,['城市','同比']])

AttributeError: 'DataFrame' object has no attribute 'ix'

In [54]:
# 通过布尔值索引进行筛选
s1=df['同比']>120
# df[s1]
# df.loc[s1,:]
# 多重索引判断
# s2=(df['同比']>120) & (df['环比']>=102)
# print(df[s2])
# s3=(df['同比']>120) | (df['环比']>=101)
# print(df[s3])
# print(df.loc[s3,:])
s4=(df['环比']<102) & (df['同比']>120)
print(df.loc[s4,:])

    城市     环比     同比     定基
r1  北京  101.5  120.7  121.4
r2  上海  101.2  127.3  127.8

In [66]:
# 添加数据和修改数据
# df['房价']=[300,400,200,100,209]
# df
# print(df)
# df.loc['r6']=['杭州',102.3,132.1,123.2,2489]
# df
# df.loc['r7']=['成都',120,234,1294,200]
# df
df['人口']=[200,400,600,800,234,345,900]
df

    城市     环比     同比      定基    房价   人口
r1  北京  101.5  120.7   121.4   300  200
r2  上海  101.2  127.3   127.8   400  400
r3  广州  101.3  119.4   122.0   200  600
r4  深圳  102.0  140.9   145.5   100  800
r5  沈阳  100.1  101.4   101.6   209  234
r6  杭州  102.3  132.1   123.2  2489  345
r7  成都  120.0  234.0  1294.0   200  900

In [71]:
# reindex方法改变数据
df1=pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("ABCD"))
print(df1)
# print(df1.reindex(index=list("bca")))
# print(df1.reindex(columns=list("DCBA")))
# print(df1.reindex(index=list("ca")))

# print(df1.reindex(index=list("bcd")))
# print(df1.reindex(index=list("bcd"),fill_value=100))
# print(df1.reindex(index=list("abxc"),method="ffill"))
print(df1.reindex(index=list("abxc"),method="ffill"))

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11
   A  B   C   D
a  0  1   2   3
b  4  5   6   7
x  8  9  10  11
c  8  9  10  11

In [76]:
# 通过reindex在任意位置插入行/列
# df1=df1.reindex(index=list("abxc"))
# print(df1)
# df1.loc['x']=[1,2,3,4]
# print(df1)
# new_index=df1.index.insert(3,"new")
# df1=df1.reindex(index=new_index)
df1.loc['x']=[1,2,3,4]
df1

       A    B     C     D
a    0.0  1.0   2.0   3.0
b    4.0  5.0   6.0   7.0
x    1.0  2.0   3.0   4.0
new  NaN  NaN   NaN   NaN
new  NaN  NaN   NaN   NaN
c    8.0  9.0  10.0  11.0

In [85]:
# 删除数据
d=pd.DataFrame(np.arange(20).reshape(4,5),index=list('abcd'),columns=list("ABCDE"))
# print(d.drop('c'))
# print(d.drop(['c','d']))
# print(d.drop(d.index[0:2]))
# print(d.drop("C",axis=1))
# print(d.drop(['C','D'],axis=1))
d.drop(['A','B'],axis="columns",inplace=True) #修改原对象
d

    C   D   E
a   2   3   4
b   7   8   9
c  12  13  14
d  17  18  19

In [4]:
# 数算计算
a=pd.DataFrame(np.arange(20).reshape(4,5))
s=pd.Series([100,200,300,400])
print(a)
# print(s)
# print(a+s)
print(a.add(s))
print(a.add(s,axis=0))

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
       0      1      2      3   4
0  100.0  201.0  302.0  403.0 NaN
1  105.0  206.0  307.0  408.0 NaN
2  110.0  211.0  312.0  413.0 NaN
3  115.0  216.0  317.0  418.0 NaN
     0    1    2    3    4
0  100  101  102  103  104
1  205  206  207  208  209
2  310  311  312  313  314
3  415  416  417  418  419

In [91]:
# 数算计算
a=pd.DataFrame(np.arange(20).reshape(4,5),index=list('abcd'),columns=list("ABCDE"))
b=pd.DataFrame(np.arange(20).reshape(5,4),index=list('abcde'),columns=list("ABCD"))
s=pd.Series([100,200,300,400],index=list('abcd'))
# print(a+b)
# print(a+s)
print(a.add(s,axis=0))

     A    B    C    D    E
a  100  101  102  103  104
b  205  206  207  208  209
c  310  311  312  313  314
d  415  416  417  418  419

In [94]:
# 算术比较
a=pd.DataFrame(np.arange(20).reshape(4,5),index=list('abcd'),columns=list("ABCDE"))
b=pd.DataFrame(np.arange(-20,0).reshape(4,5),index=list('abcd'),columns=list("ABCDE"))
s=pd.Series([4,3,2,1,0],index=list('ABCDE'))
a>s

       A      B      C     D     E
a  False  False  False  True  True
b   True   True   True  True  True
c   True   True   True  True  True
d   True   True   True  True  True

In [97]:
# set_index reset_index
a=pd.DataFrame(np.arange(20).reshape(4,5),index=list('abcd'),columns=list("ABCDE"))
# a=a.set_index("A")
# print(a.index)
a.index.name='索隐裂'
a.reset_index()

  索隐裂   A   B   C   D   E
0   a   0   1   2   3   4
1   b   5   6   7   8   9
2   c  10  11  12  13  14
3   d  15  16  17  18  19

In [99]:
# 数据的排序
a=pd.DataFrame(np.arange(20).reshape(4,5),index=list('abcd'),columns=list("ABCDE"))
a=a.reindex(index=list("dbca"),columns=list("ECBDA"))
print(a.sort_index(axis=0))
print(a.sort_index(axis=1))

    E   C   B   D   A
a   4   2   1   3   0
b   9   7   6   8   5
c  14  12  11  13  10
d  19  17  16  18  15
    A   B   C   D   E
d  15  16  17  18  19
b   5   6   7   8   9
c  10  11  12  13  14
a   0   1   2   3   4

In [104]:
# print(a.sort_values(by="A",ascending=1))#以单一列进行升序排序
# print(a.sort_values(by="A",ascending=0))#以单一列进行升序排序
print(a.sort_values(by="a",ascending=1,axis=1))#以单一行进行升序排序
print(a.sort_values(by="a",ascending=0,axis=1))#以单一行进行升序排序

    A   B   C   D   E
d  15  16  17  18  19
b   5   6   7   8   9
c  10  11  12  13  14
a   0   1   2   3   4
    E   D   C   B   A
d  19  18  17  16  15
b   9   8   7   6   5
c  14  13  12  11  10
a   4   3   2   1   0

In [106]:
d=pd.DataFrame({"A":[1,2,2,1],"B":[1,2,3,4],"C":[4,3,2,1]})
print(d.sort_values(by=["A","C"],ascending=[0,1]))
print(d.sort_values(by=["A","C"],ascending=[True,False]))

   A  B  C
2  2  3  2
1  2  2  3
3  1  4  1
0  1  1  4
   A  B  C
0  1  1  4
3  1  4  1
1  2  2  3
2  2  3  2