In [2]:
import numpy as np
import pandas as pd

In [7]:
# 数据的拼接
ser1=pd.Series(['A','B','C'],index=[1,2,3])
ser2=pd.Series(['D','E','F'],index=[4,5,6])
# print(ser1);print(ser2)
print("-"*50)
# print(pd.concat([ser1,ser2]))

--------------------------------------------------
--------------------------------------------------

In [12]:
df1=pd.DataFrame(np.arange(20).reshape(4,5),columns=list("abcde"))
df2=pd.DataFrame(np.arange(20).reshape(4,5),columns=list("abcde"))
# print(df1);print(df2)
print("-"*50)
print(pd.concat([df1,df2],axis=0))
print(pd.concat([df1,df2],axis=1))

--------------------------------------------------
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
    a   b   c   d   e   a   b   c   d   e
0   0   1   2   3   4   0   1   2   3   4
1   5   6   7   8   9   5   6   7   8   9
2  10  11  12  13  14  10  11  12  13  14
3  15  16  17  18  19  15  16  17  18  19

In [17]:
# df1=pd.DataFrame(np.arange(20).reshape(4,5),columns=list("abcde"))
# df2=pd.DataFrame(np.arange(20).reshape(4,5),columns=list("cdefg"))
# # print(df1);print(df2)
# print("-"*50)
# print(pd.concat([df1,df2],axis=0))
# # print(pd.concat([df1,df2],axis=1))
# print(pd.concat([df1,df2],axis=0,join='inner'))# 内连接,只保留相同部分
# print(pd.concat([df1,df2],axis=0,ignore_index=True))# 自动排列索引

In [28]:
# # 数据连接merge
# df1=pd.DataFrame({'cid':['001','002','003','004','005'],
#                  'cname':['math','english','Python','R','excel']})
# df2=pd.DataFrame({'sname':['小李','小李','小王','小东','小东','小黑','小灭'],
#                  'cid':['001','005','004','005','004','002','006']})
# print(df1);print(df2);
# # print(pd.merge(df1,df2,on='cid'))
# print('{0}内连接{0}'.format("-"*30))
# print(pd.merge(df1,df2,on='cid',how='inner'))
# print('{0}外连接{0}'.format("-"*30))
# print(pd.merge(df1,df2,on='cid',how='outer'))
# print('{0}左连接{0}'.format("-"*30))
# print(pd.merge(df1,df2,on='cid',how='left'))
# print('{0}右连接{0}'.format("-"*30))
# print(pd.merge(df1,df2,on='cid',how='right'))

In [37]:
df1=pd.DataFrame({'cid':['001','002','003','004','005'],
                 'cname':['math','english','Python','R','excel']})
df2=pd.DataFrame({'sname':['小李','小李','小王','小东','小东','小黑','小灭'],
                 'classid':['001','005','004','005','004','002','006']})
# print(df1);print(df2);
# print(pd.merge(df1,df2,on='cid'))
# print('{0}内连接{0}'.format("-"*30))
# print(pd.merge(df1,df2,left_on='cid',right_on='classid',how='inner'))
# df1=df1.set_index("cid")
# print(df1);print(df2)
# print(pd.merge(df1,df2,left_index=True,right_on='classid',how='inner'))

In [50]:
# 出重
data = pd.DataFrame({'A':['a','b','c','c','c','b','b'],'B':[1,1,2,2,2,1,1],'C':[1,1,2,3,2,1,1]})
print(data)
# print('{0}删除除第一次出现以外的重复数据{0}'.format('-'*10))
# print(data.drop_duplicates(keep='first'))
# # print('{0}删除除最后一次出现以外的重复数据{0}'.format('-'*10))
# # print(data.drop_duplicates(keep='last'))
# print('{0}根据指定列删除重复数据{0}'.format('-'*10))
# print(data.drop_duplicates(subset=["A"],keep='first'))
# print(data.drop_duplicates(subset=["A","C"],keep='first'))
# inplace改变原对象
# print(data.drop_duplicates(subset=["A"],keep='first',inplace=True))
# print(data)

   A  B  C
0  a  1  1
1  b  1  1
2  c  2  2
3  c  2  3
4  c  2  2
5  b  1  1
6  b  1  1
None
   A  B  C
0  a  1  1
1  b  1  1
2  c  2  2

In [62]:
# groupby 分组 应用函数 聚合
df=pd.DataFrame({'sid':list('ABCABC'),'money':range(6),'age':np.random.randint(20,30,6)})
print(df)
# print(df.groupby('sid').sum())
# print(df.groupby('sid')['money'].sum())
# print(df['money'].groupby(df['sid']).sum())
# 求每个sid的平均年龄
# print(df.groupby('sid')['age'].mean())

  sid  money  age
0   A      0   28
1   B      1   20
2   C      2   27
3   A      3   28
4   B      4   25
5   C      5   29

In [7]:
# 求男女分别生还人数是多少
f=open(r"C:\Users\ibf\Desktop\python数据分析课件整理\数据可视化\数据\titanic_train.csv")
titan=pd.read_csv(f)
print(titan.head(10))
f.close()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [70]:
# print(titan.groupby("Sex")['Survived'].sum())
# print(titan.groupby("Sex")['Survived'].count())
rate=titan.groupby("Sex")['Survived'].sum()/titan.groupby("Sex")['Survived'].count()
print(rate)
print(titan.groupby("Sex")['Survived'].mean())# 0 0 1 1

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [72]:
titan.groupby(["Sex","Pclass"])['Survived'].mean()
titan.groupby(["Sex","Pclass"]).mean()

               PassengerId  Survived        Age     SibSp     Parch  \
Sex    Pclass
female 1        469.212766  0.968085  34.611765  0.553191  0.457447
       2        443.105263  0.921053  28.722973  0.486842  0.605263
       3        399.729167  0.500000  21.750000  0.895833  0.798611
male   1        455.729508  0.368852  41.281386  0.311475  0.278689
       2        447.962963  0.157407  30.740707  0.342593  0.222222
       3        455.515850  0.135447  26.507589  0.498559  0.224784

                     Fare
Sex    Pclass
female 1       106.125798
       2        21.970121
       3        16.118810
male   1        67.226127
       2        19.741782
       3        12.661633

In [90]:
# 透视表
print(titan.pivot_table("Survived",index=["Sex","年龄划分"],columns="Pclass",aggfunc="mean"))
print(titan.pivot_table("Survived",index=["Sex","年龄划分"],columns="Pclass",aggfunc="sum"))

Pclass              1         2         3
Sex    年龄划分
female 小     0.931034  0.933333  0.514706
       中     0.978723  0.926829  0.333333
       NaN   1.000000  0.666667  1.000000
male   小     0.533333  0.270270  0.157143
       中     0.453125  0.075472  0.149533
       NaN   0.136364  0.111111  0.000000
Pclass        1   2   3
Sex    年龄划分
female 小     27  28  35
       中     46  38  11
       NaN    9   2   1
male   小      8  10  22
       中     29   4  16
       NaN    3   1   0

In [87]:
# 对数据进行分组
# titan['Age']
# print(titan['Sex'])
# print(titan['Sex'].value_counts())
# pct=pd.cut(titan['Age'],5)# 按年龄进行等距划分
# print(pct.value_counts())
# pct=pd.cut(titan['Age'],5,labels=list('abcde'))# 按年龄进行等距划分
# pct.value_counts()

(16.336, 32.252]    346
(32.252, 48.168]    188
(0.34, 16.336]      100
(48.168, 64.084]     69
(64.084, 80.0]       11
Name: Age, dtype: int64

b    346
c    188
a    100
d     69
e     11
Name: Age, dtype: int64

In [106]:
# 缺失值处理
# index=titan['Age'].isna()
# titan.loc[index,'Age']=np.mean(titan['Age'])
# titan

In [108]:
# titan['年龄划分']=pd.cut(titan['Age'],3,labels=['小','中','老'])
# titan['年龄划分']

In [109]:
# 透视表
print(titan.pivot_table("Survived",index=["Sex","年龄划分"],columns="Pclass",aggfunc="mean"))
print(titan.pivot_table("Survived",index=["Sex","年龄划分"],columns="Pclass",aggfunc="sum"))

Pclass              1         2         3
Sex    年龄划分
female 小     0.931034  0.933333  0.514706
       中     0.982143  0.930233  0.480000
       老     1.000000  0.666667  1.000000
male   小     0.533333  0.270270  0.157143
       中     0.400000  0.096774  0.124378
       老     0.136364  0.111111  0.000000
Pclass        1   2   3
Sex    年龄划分
female 小     27  28  35
       中     55  40  36
       老      9   2   1
male   小      8  10  22
       中     34   6  25
       老      3   1   0

In [110]:
# cut函数
factors=np.random.randint(0,10,10)
factors

array([5, 2, 7, 8, 0, 7, 4, 0, 0, 2])

In [118]:
print(pd.cut(factors,3))# 等距划分为3组
print(pd.cut(factors,3,labels=['a','b','c']))# 等距划分为3组
print(pd.cut(factors,[-1,3,6,9]))# 指定分割点进行划分

[(2.667, 5.333], (-0.008, 2.667], (5.333, 8.0], (5.333, 8.0], (-0.008, 2.667], (5.333, 8.0], (2.667, 5.333], (-0.008, 2.667], (-0.008, 2.667], (-0.008, 2.667]]
Categories (3, interval[float64]): [(-0.008, 2.667] < (2.667, 5.333] < (5.333, 8.0]]
[b, a, c, c, a, c, b, a, a, a]
Categories (3, object): [a < b < c]
[(3, 6], (-1, 3], (6, 9], (6, 9], (-1, 3], (6, 9], (3, 6], (-1, 3], (-1, 3], (-1, 3]]
Categories (3, interval[int64]): [(-1, 3] < (3, 6] < (6, 9]]

In [124]:
factors=np.random.uniform(0,100,100)
factors

array([26.43500056, 58.32152045, 68.61385181, 13.40184018, 27.93102766,
        4.34156511, 19.03187048, 92.43419052, 25.55065372, 72.41825703,
       65.58651961, 55.60807739, 26.33455704, 25.96595353, 21.74688076,
       19.50707328, 69.74483645, 91.5328765 ,  9.57367587, 74.52904617,
       25.00876263, 83.29151773, 31.61005354, 53.51062514, 21.10222255,
       64.42687892, 37.73536914, 97.63169892, 95.10867122, 40.48128376,
       82.47434102, 49.10753702, 74.72926957, 43.08435773,  5.04452445,
       83.57086171, 22.89873712, 11.28449471, 84.03033038, 61.29174174,
       92.1663218 , 78.95542502, 60.45153421, 80.74966966, 17.67615252,
       62.67657828, 79.60750548, 87.10753681, 70.07114698,  4.55507016,
       44.66504241, 32.59479129, 94.85764987,  9.73512312,  0.19835617,
       47.60208392,  3.87458536, 14.85131811, 79.96859413, 62.40317239,
       63.39221472, 27.22451239, 19.81719246, 85.67048154, 50.06201728,
       93.50084382, 76.10874749, 88.99461276, 33.12411785, 57.70437618,
       98.70652585, 81.80934442, 12.16980369,  6.65395138, 76.92274536,
       62.04370871, 56.32419577, 50.20412137, 78.22357992, 19.04886131,
       66.61880104, 89.42527407, 88.98562115, 76.43553517, 19.88310206,
       12.80898365, 19.41435893, 87.45801124, 68.63830553, 52.80676053,
       91.02361946,  1.7874651 , 35.86963144, 58.19885862, 75.66404083,
       93.6720021 , 72.31735581, 79.85872665, 63.01073213, 68.76270242])

In [128]:
qct=pd.qcut(factors,3)# 等距划分为3组
print(qct.value_counts())
qct=pd.qcut(factors,3,labels=['a','b','c'])# 等距划分为3组
print(qct.value_counts())

(0.197, 33.124]     34
(33.124, 72.418]    33
(72.418, 98.707]    33
dtype: int64
a    34
b    33
c    33
dtype: int64

In [146]:
# 缺失值的处理
dict_2={'城市':[np.nan,'上海','广州',np.nan,'沈阳'],
    '环比':[101.5,101.2,101.3,101,100.1],
    '同比':[120.7,127.3,119.4,pd.NaT,101.4],
    '定基':[121.4,127.8,120.0,None,101.6]}
df=pd.DataFrame(dict_2)
print(df)
# df.dropna()# 删除出现缺失值的行
# df.dropna(axis=1)# 删除出现缺失值的列
# df.dropna(how='all')# any:出现任意缺失值时删除  all:所有值都为缺失值时删除
# df.dropna(subset=['同比','定基'])# subset指定列进行缺失值检测

    城市     环比     同比     定基
0  NaN  101.5  120.7  121.4
1   上海  101.2  127.3  127.8
2   广州  101.3  119.4  120.0
3  NaN  101.0    NaT    NaN
4   沈阳  100.1  101.4  101.6

In [155]:
# 缺失值的填充
print(df)
# print(df['同比'].fillna(0))# 填充为标量值
# print(df['同比'].fillna(method='ffill'))# 向上填充
# print(df['同比'].fillna(method='bfill'))# 向下填充
print(df.fillna({'同比':df['同比'].mean(),# 对每个字段指定填充方法
                '环比':df['同比'].mean(),
                 '定基':df['同比'].median(),
                '城市':'未知'}))
df.loc[df['城市'].isna(),'城市']='未知'# 通过布尔索引选取数据进行重新赋值填充
df

    城市     环比     同比     定基
0  NaN  101.5  120.7  121.4
1   上海  101.2  127.3  127.8
2   广州  101.3  119.4  120.0
3  NaN  101.0    NaT    NaN
4   沈阳  100.1  101.4  101.6
   城市     环比     同比      定基
0  未知  101.5  120.7  121.40
1  上海  101.2  127.3  127.80
2  广州  101.3  119.4  120.00
3  未知  101.0  117.2  120.05
4  沈阳  100.1  101.4  101.60

   城市     环比     同比     定基
0  未知  101.5  120.7  121.4
1  上海  101.2  127.3  127.8
2  广州  101.3  119.4  120.0
3  未知  101.0    NaT    NaN
4  沈阳  100.1  101.4  101.6

In [1]:
# titan.info()
# titan['Cabin']
# 将Age中的缺失值以均值填充
# 将Cabin中的缺失值以'未知'进行填充
# 生成一个新的字段对年龄进行划分,分为 0-12少儿 13-18 未成年 19-30 青年 30-60中年 60-100老年
# 生成一个新的字段对票价进行等量划分划分,分为3类,分别是低价票 普通票 高价票

In [6]:
# 字符串的向量化处理方法
string='a,b,c'
print(string.split(","))
ser=pd.Series(['a,b,c','d,e,f','h,i,j'],index=["A1","A2","A3"])
print(ser)

['a', 'b', 'c']
A1    a,b,c
A2    d,e,f
A3    h,i,j
dtype: object

In [39]:
# 基于python标准库模块的字符串向量化方法
# print(titan.head(10))# head tail
# print(len(titan['Name']))# 这个Series的长度
# print(titan['Name'].head(5))
# print("-"*50)
# print(titan['Name'].str.len())# 求元素长度
# print(titan['Name'].str.lower().head(5))# 将字符串变成小写
# print(titan['Name'].str.upper().head(5))# 将字符串变成大写
# print(titan['Name'].str.startswith("B").head(5))# 以什么字符进行开始,返回布尔值
# print(titan['Name'].str.endswith("s").head(5))# 以什么字符进行结束,返回布尔值
# print(titan['Name'].str.split(",").head(5))# split分割指定字符
# titan['strip']='----strip函数----'
# print(titan['strip'].str.strip("-").head(5))# strip去除前后指定字符
# print(titan['Name'].str[:3])# 进行切片
# print(titan['Name'].str.slice(0,3))# 进行切片
# print(titan['Name'].str.get(0))# 获取指定索引位置的元素
# print(titan['Name'].str.split(",").str.get(-1))# 获取指定位置的元素
# titan.head()

In [67]:
# 基于正则表达式的字符串向量化方法
print(titan['Name'].head(5))
print("-"*50)
# print(titan['Name'].str.extract("(\w+)").head(5))# 类似于search方法进行元素提取
# print(titan['Name'].str.match("M\w+").head(5))# 从开头进行匹配,返回布尔值
# print(titan['Name'].str.replace("\w","QQ",1).head(5))#
# print(titan['Name'].str.count("\w+").head(5))#
# print(titan['Name'].str.split("[,|\s+]").str.join(";").head(5))#

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object
--------------------------------------------------

In [69]:
num=[1,2,3,4,5]
result=[]
for i in num:
    result.append(i*i)
print(result)

[1, 4, 9, 16, 25]

In [71]:
list(map(lambda x:x**2,num))

[1, 4, 9, 16, 25]

In [83]:
# titan['Name'].map(lambda x:x.lower())
# titan['Name'].map(lambda x:x[:3])
# def f(data):
#     print(data,type(data))
#     return data
# titan['Name'].map(f)
# def change(data):
#     if data==0:
#         return "未生还"
#     else:
#         return "生还"
# titan['Survived'].map(change)

In [104]:
# 分组  应用函数  聚合
# apply函数
a=pd.DataFrame(np.arange(12).reshape(3,4),index=list("abc"),columns=list("ABCD"))
print(a)
print("-"*50)
# print(a.apply(sum,axis=0))
# print("-"*50)
# print(a.apply(np.mean,axis=0))
# print("-"*50)
# print(a.apply(sum,axis=1))
# print("-"*50)
# print(a.apply(np.mean,axis=1))
# print("-"*50)

   A  B   C   D
a  0  1   2   3
b  4  5   6   7
c  8  9  10  11
--------------------------------------------------

In [110]:
# def f(data):
# #     print(data,type(data))
#     return data.max()-data.min()# 
# print(a.apply(f,axis=0))# np.mean(data)
# # print(a.apply(np.sum,axis=0))# np.mean(data)

def f(data):
#     print(data,type(data))
#     print("-"*50)
    return data['c']-data['b']# 
print(a.apply(f,axis=0))# np.mean(data)

A    4
B    4
C    4
D    4
dtype: int64

In [130]:
np.random.seed(1)
df=pd.DataFrame(np.random.randint(0,100,50).reshape(10,5),columns=list("ABCDE"))
# df# 求每列第4大的值和第3大的值之差
print(df)
# def f(data):
# 方法1
#     result=data.sort_values()
# #     print(result)
# #     print(result.iloc[3])
# #     print("-"*50)
#     return result.iloc[-3]-result.iloc[-4]
# 方法2
#     result=list(data)
#     result.sort()
#     print(result)
#     return result[-3]-result[-4]
# df.apply(f)

    A   B   C   D   E
0  37  12  72   9  75
1   5  79  64  16   1
2  76  71   6  25  50
3  20  18  84  11  28
4  29  14  50  68  87
5  87  94  96  86  13
6   9   7  63  61  22
7  57   1   0  60  81
8   8  88  13  47  72
9  30  71   3  70  21

In [154]:
# groupby 分组 应用函数 聚合
df=pd.DataFrame({'sid':list('ABCABC'),'money':range(6),'age':np.random.randint(20,30,6)})
print(df)
def dt(data):
    print(data[['money','age']])
#     print(data['money'])
#     print("-"*50)
#     print(type(data))
#     print("-"*50)
    return data['money'].max()-data['money'].min()# 返回值为单个值时,结果为Series  返回值为Series时,结果为DataFrame
# print(df.groupby('sid').apply(dt))
# print(df.groupby('sid').sum())

  sid  money  age
0   A      0   24
1   B      1   26
2   C      2   28
3   A      3   28
4   B      4   29
5   C      5   22

In [155]:
import pymysql
conn=pymysql.connect(host="localhost",user="root",password="123456",db="spider",charset="utf8")
order_info=pd.read_sql("select * from `order`",con=conn)
conn.close()

In [166]:
# 求每个用户第二次购买和第一次购买记录之差
def f(data):
#     print(data)
#     print("-"*50)
#     print(type(data))
#     print("-"*50)
    t=data['create_time'].sort_values()
    result=t.iloc[1]-t.iloc[0]
    return result.days# 第二次消费时间减第一次消费时间
# order_info.groupby("user_id").apply(f)

In [168]:
# 窗口函数rolling
df=pd.DataFrame(np.arange(20).reshape(4,5),index=list("abcd"),columns=list("ABCDE"))
ser=pd.Series([1,2,3,5,7,19,12,14,28,30])
ser

0     1
1     2
2     3
3     5
4     7
5    19
6    12
7    14
8    28
9    30
dtype: int64

In [175]:
print(ser.rolling(window=3).sum())
print(ser.rolling(window=3).mean())

0     NaN
1     NaN
2     6.0
3    10.0
4    15.0
5    31.0
6    38.0
7    45.0
8    54.0
9    72.0
dtype: float64
0          NaN
1          NaN
2     2.000000
3     3.333333
4     5.000000
5    10.333333
6    12.666667
7    15.000000
8    18.000000
9    24.000000
dtype: float64

In [176]:
print(ser.rolling(window=3,min_periods=1).sum())# 防止不满足窗口数量出现NaT值
print(ser.rolling(window=3,min_periods=1).mean())

0     1.0
1     3.0
2     6.0
3    10.0
4    15.0
5    31.0
6    38.0
7    45.0
8    54.0
9    72.0
dtype: float64
0     1.000000
1     1.500000
2     2.000000
3     3.333333
4     5.000000
5    10.333333
6    12.666667
7    15.000000
8    18.000000
9    24.000000
dtype: float64

In [178]:
print(ser)
print(ser.rolling(window=3,min_periods=1,center=True).mean())# 以中心点进行采样

0     1
1     2
2     3
3     5
4     7
5    19
6    12
7    14
8    28
9    30
dtype: int64
0     1.500000
1     2.000000
2     3.333333
3     5.000000
4    10.333333
5    12.666667
6    15.000000
7    18.000000
8    24.000000
9    29.000000
dtype: float64

In [181]:
print(df)
df.rolling(window=3,min_periods=1,center=True).mean()

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19

      A     B     C     D     E
a   2.5   3.5   4.5   5.5   6.5
b   5.0   6.0   7.0   8.0   9.0
c  10.0  11.0  12.0  13.0  14.0
d  12.5  13.5  14.5  15.5  16.5

In [196]:
df=pd.read_excel("D:\cs2433_文件迁移\桌面\excel&csv\排班原始表.xlsx")
print(df)
def f(data):
    zb=(data=="早")
    return pd.Series(list(data.index[zb]))
result=df.apply(f)
result.columns=['day'+str(i) for i in range(1,13)]
print(result.columns)
print(result)

    1  2  3  4  5  6  7  8  9  10 11 12
张三   早  休  早  早  休  早  早  休  早  早  休  早
李四   休  早  休  早  早  休  早  早  休  早  早  休
王五   正  正  休  休  正  正  正  正  正  早  早  正
刘七   早  早  早  休  早  休  早  早  休  休  早  早
赵老一  早  休  早  早  休  早  休  早  休  早  早  休
糊糊   休  早  休  早  早  休  早  早  休  早  休  早
Index(['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8', 'day9',
       'day10', 'day11', 'day12'],
      dtype='object')
  day1 day2 day3 day4 day5 day6 day7 day8 day9 day10 day11 day12
0   张三   李四   张三   张三   李四   张三   张三   李四   张三    张三    李四    张三
1   刘七   刘七   刘七   李四   刘七  赵老一   李四   刘七  NaN    李四    王五    刘七
2  赵老一   糊糊  赵老一  赵老一   糊糊  NaN   刘七  赵老一  NaN    王五    刘七    糊糊
3  NaN  NaN  NaN   糊糊  NaN  NaN   糊糊   糊糊  NaN   赵老一   赵老一   NaN
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    糊糊   NaN   NaN